.width25{
    width: 25%;
}
.text-center{
    text-align: center;
}
.m-x3{
    margin: 30px;
}
.m-x4-left{
    margin-left: 40px;
}
table {
    width: 90%;
}
h2 {
    padding: 0 0 20px 30px;
}
.p-x3-left{
    padding-left: 30px;
}
.m-xiv-top{
    margin-top: 15px;
}
p,td,label,h2,th{
    color: #ffffff;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}