<h2 class="m-x3">Apply PTO</h2>
<form #f1="ngForm" (ngSubmit)="submitApply(f1)">
  <div class="col-lg-12 form-group">
    <label for="fromDate" class="col-lg-3">From Date</label>
    <input type="date" required ngModel name="fromDate" #fromDate=ngModel class="form-control width25" id="fromDate">
    <div class="alert alert-danger" *ngIf="fromDate.touched && !fromDate.valid">From Date is Required</div>
  </div>
  <div class="col-lg-12 form-group">
    <label for="toDate" class="col-lg-3">To Date</label>
    <input type="date" required ngModel name="toDate" #toDate=ngModel class="form-control width25" id="toDate">
    <div class="alert alert-danger" *ngIf="toDate.touched && !toDate.valid">To Date is Required</div>
  </div>
  <button class="btn btn-primary m-x3" type="submit">Submit</button>
</form>
<p *ngIf="submitted">You have applied PTO from {{f1.value.fromDate}} to {{f1.value.toDate}}</p>

<h2 class="m-x3">Who are on PTO ?</h2>
<form #f2="ngForm" (ngSubmit)="submitDate(f2)">
  <div class="col-lg-12 form-group">
    <label for="ptoDate" class="col-lg-3">Date</label>
    <input type="date" required ngModel name="ptoDate" #ptoDate=ngModel class="form-control width25" id="ptoDate">
    <div class="alert alert-danger" *ngIf="ptoDate.touched && !ptoDate.valid">Date is Required</div>
  </div>
  <button class="btn btn-primary m-x3" type="submit">Search</button>
</form>

